form(id="filter" method="post" action="#").filter
  .filter__checkboxCont
    input(type="checkbox").filter__checkbox#activateFilter
    label(for="activateFilter").filter__checkboxLabel Filter
  
  .row.filter__hideCont.filter__hideCont_overflowHidden
    .col-md-8
      .filter__selectCont
        select(multiple="multiple").filter__select
          option(value='Poison') Poison
          option(value='Action') Action
          option(value='Ruler') Ruler
          option(value='Noise') Noise
          option(value='Hand') Hand
          option(value='Fly') Fly
        
    .col-md-4
      button.button.button_gradient(type='button' name='submitFilter') Filter cards
